# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folders
venv/
env/
ENV/

# Logs and temp files
*.log
*.tmp

# Local environment variables
.env

# Stats or user data files
stats.json

# Chrome profiles or selenium temp folders
selenium-profile/
profile/
userdata/

# IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store

